.active {
    color: #44a05b !important;
}
 a {
    text-decoration: none;
 }

.profile-button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  padding: 0;
}

.profile-trigger {
  mat-icon {
    font-size: 40px;        // Increase size
    color: #28a745;         // Green color (Bootstrap green)
    height: 40px;
    width: 40px;
  }
}

::ng-deep .mat-mdc-menu-panel.profile-menu {
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  width: 100% !important;
}

::ng-deep .mat-mdc-menu-item {
  color: #000000;
  font-size: 14px;
}

::ng-deep .mat-mdc-menu-item:hover {
  background-color: #f0f0f0;
}

::ng-deep .mat-mdc-divider {
  margin: 4px 0;
  border-top-color: #44a05b !important;
  color: #44a05b !important;
}

.profile-trigger{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: large;
  font-weight: 700;
  cursor:pointer;
}
