.error-toast {
    background: #F8E9E9 !important;
    border-radius: 4px;
    color: black !important;
}

.success-toast {
    background: #EEFAF3;
    border-radius: 5px;
    color: black;
}

.icon-size {
    width: 24px;
    height: 24px;
}